import React from 'react';
import { connect } from 'react-redux';
import { Modal, Row, Col, Spin, Form, Button } from 'antd';
<%- include('include/comps', {list}) %>
import { actions, asyncAdd } from './models';
import { formItemLayout, formatFormData } from './utils';
const FormItem = Form.Item;

class ADD extends React.Component {
    handleCancel = () => {
        this.props.form.resetFields();
        this.props.modalHide();
    };
    handleOk = () => {
        this.props.form.validateFields(async (err, values) => {
            if (!err) {
                await this.props.asyncAdd([formatFormData(values)]);
                this.props.form.resetFields();
                this.props.modalHide();
            }
        });
    };
    render() {
        const { isModalShow, isLoading, modalShow } = this.props;
        const { getFieldDecorator } = this.props.form;
        const form = (
            <Form>
                <Row>
                <% 
                    list.forEach(item => {
                %>
                    <Col span={24}>
                        <FormItem {...formItemLayout} label="<%= item.title %>">
                            {getFieldDecorator('<%= item.name %>', {
                                rules: [
                                <%- include('include/rules.ejs', {item}) %>
                                ],
                            })(
                                <%- include('include/input.ejs', {item, onchange: false}) %>
                            )}
                        </FormItem>
                    </Col>
                <%
                    })
                %>
                </Row>
            </Form>
        );
        return (
            <span>
                <Button onClick={modalShow}>添加一条</Button>
                <Modal
                    title="添加单条数据"
                    visible={isModalShow}
                    onOk={this.handleOk}
                    onCancel={this.handleCancel}
                    confirmLoading = {isLoading}
                    maskClosable={false}>
                    <Spin spinning={isLoading} tip='保存中...'>
                        {form}
                    </Spin>
                </Modal>
            </span>
        );
    }
}

const mapStateToProps = state => ({
    isModalShow: state.<%= stateKey %>.uiStatus.isAddShow,
    isLoading: state.<%= stateKey %>.uiStatus.isLoading,
});

const mapDispatchToProps = dispatch => ({
    modalHide: () => dispatch(actions.changeUiStatus({ isAddShow: false })),
    modalShow: () => dispatch(actions.changeUiStatus({ isAddShow: true })),
    asyncAdd: contents => dispatch(asyncAdd(contents)),
});

export default connect(mapStateToProps, mapDispatchToProps)(Form.create()(ADD));
